* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-montserrat;
  font-size: 16px;
  scroll-behavior: smooth;
}

.VueCarousel-navigation-button {
  &:focus {
    outline: 0 !important;
  }
}
.VueCarousel-navigation-prev {
  @media (max-width: 768px) {
    left: 20% !important;
  }
}
.VueCarousel-navigation-next {
  @media (max-width: 768px) {
    right: 20% !important;
  }
}