<template>
  <section id="contact_us">
    <footer>
      <div class="container px-0">
        <div class="row mx-0">
          <div class="col-md-5 px-0">
            <div class="logo" :class="{'text-center': $device.isMobile}">
              <div class="d-inline-block">
                <div class="d-flex">
                  <svg width="164" height="96" viewBox="0 0 164 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M58.5607 95.6072L64.8187 69.3539H54.8139L56.1463 63.4094H83.0594L81.7482 69.3539H73.0096L66.7517 95.6072H58.5607Z" fill="white"/>
                    <path d="M77.3777 95.6072L84.9468 63.4094H106.677L105.054 69.3116H92.0953L90.465 76.335H103.153L101.863 81.9622H89.1964L87.4597 89.7049H101.041L99.1076 95.6072H77.3777Z" fill="white"/>
                    <path d="M125.716 95.1327C125.305 95.2314 124.73 95.3301 123.993 95.4288C123.269 95.5276 122.482 95.6192 121.631 95.7039C120.794 95.7885 119.943 95.859 119.078 95.9154C118.227 95.9718 117.461 96 116.781 96C114.837 96 113.107 95.8096 111.589 95.4288C110.072 95.0481 108.788 94.4346 107.739 93.5884C106.689 92.7422 105.888 91.6421 105.334 90.2882C104.781 88.9202 104.505 87.256 104.505 85.2956C104.505 84.5341 104.54 83.7372 104.611 82.9051C104.682 82.0731 104.803 81.1916 104.973 80.2608L105.675 76.5798C106.214 73.6887 106.973 71.3264 107.951 69.4929C108.944 67.6454 110.15 66.1998 111.568 65.1562C112.986 64.0984 114.625 63.3721 116.483 62.9772C118.355 62.5823 120.447 62.3849 122.759 62.3849C123.44 62.3849 124.198 62.4131 125.035 62.4695C125.872 62.5259 126.695 62.5964 127.503 62.6811C128.326 62.7657 129.078 62.8644 129.758 62.9772C130.453 63.0759 131.615 63.4912 131.998 63.604L130.687 69.0487C130.148 69.0064 129.248 68.9641 128.61 68.9218C127.971 68.8794 127.305 68.8371 126.61 68.7948C125.929 68.7525 125.234 68.7243 124.525 68.7102C123.83 68.682 123.149 68.6679 122.482 68.6679C121.277 68.6679 120.206 68.7878 119.27 69.0275C118.348 69.2673 117.532 69.7115 116.823 70.3603C116.128 70.9949 115.532 71.8764 115.036 73.0047C114.554 74.1188 114.149 75.5573 113.823 77.3203L113.121 81.0012C112.866 82.4397 112.738 83.6385 112.738 84.5975C112.738 85.613 112.866 86.4521 113.121 87.115C113.377 87.7637 113.752 88.2785 114.249 88.6593C114.759 89.0401 115.383 89.308 116.121 89.4632C116.873 89.6042 117.731 89.6747 118.695 89.6747C119.362 89.6747 120.05 89.6677 120.759 89.6536C121.468 89.6254 122.17 89.5971 122.865 89.5689C123.56 89.5407 124.234 89.5055 124.886 89.4632C125.539 89.4068 126.757 89.3574 127.296 89.3151L125.716 95.1327Z" fill="white"/>
                    <path d="M148.446 95.6072L151.162 82.0469H138.681L135.365 95.6072H127.796L134.743 63.4094H142.311L139.724 75.8908H152.516L155.704 63.4094H163.23L155.972 95.6072H148.446Z" fill="white"/>
                    <path d="M3.49478 11.2445C2.76797 20.8142 11.6714 25.5284 16.214 26.6892C13.4279 25.7202 10.7124 20.9353 9.70298 18.664C13.3875 20.8848 23.3307 25.2962 33.6273 25.1751C43.9238 25.0539 48.4159 29.8691 49.3749 32.2918L31.2046 33.9574L40.744 34.8659L44.9837 37.8943L54.2203 36.0773C70.6948 36.6829 76.2266 49.0489 76.9333 55.1561L69.3623 52.4306C56.0374 48.5542 39.9869 54.7523 33.6273 58.3359L39.9869 52.4306C15.7598 58.1239 3.34336 74.6892 0.163548 82.2602C-1.16894 92.6779 5.96796 95.6861 9.70298 95.888H48.4664C52.585 95.888 54.0184 93.3643 54.2203 92.1025L56.3402 83.623C58.5206 76.8394 53.8165 76.052 51.1919 76.5063C45.9427 76.4053 33.8998 76.264 27.7219 76.5063C21.544 76.7486 19.7976 74.1845 19.6967 72.8722C19.4544 66.8154 24.9459 64.2918 27.7219 63.787L26.8134 67.7239C37.3522 56.4583 50.1825 54.0457 55.2803 54.2476C55.2803 54.2476 74.8639 54.8028 79.356 57.276C77.2967 39.1057 62.4475 33.0489 55.2803 32.2918C50.0714 25.7504 39.8859 23.6104 35.4443 23.358C33.0216 20.693 35.7471 20.0268 37.4128 20.0268H60.2771C64.0323 20.0268 65.0721 18.6135 65.1225 17.9069L70.2708 3.82489C72.4512 0.311957 69.968 -0.162488 68.4538 0.0394063H11.3686C9.04683 -0.21296 4.2216 1.67474 3.49478 11.2445Z" fill="white"/>
                    <path d="M17.4254 28.2034C5.91749 28.2034 1.22348 19.7239 0.314964 15.4842V24.7208C5.64493 29.3239 13.9427 28.9605 17.4254 28.2034Z" fill="white"/>
                    <path d="M24.3907 39.4085C11.308 38.4394 2.8891 42.0331 0.314964 43.9511V54.7019C0.314964 45.6167 16.3654 40.7208 24.3907 39.4085Z" fill="white"/>
                  </svg>
                </div>
                <div class="social d-flex justify-content-between">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M36.2508 9.93361C35.0555 10.4492 33.7547 10.8203 32.4149 10.9649C33.8059 10.1384 34.8477 8.83283 35.3446 7.29298C34.0392 8.0695 32.6092 8.61401 31.118 8.90236C30.4947 8.23606 29.7409 7.70525 28.9036 7.34301C28.0662 6.98078 27.1632 6.79488 26.2508 6.79689C22.5594 6.79689 19.5907 9.78908 19.5907 13.461C19.5907 13.9766 19.6532 14.4922 19.7547 14.9883C14.2274 14.6992 9.29769 12.0586 6.02035 8.01564C5.42318 9.03562 5.11025 10.197 5.1141 11.3789C5.1141 13.6914 6.28988 15.7305 8.08285 16.9297C7.02623 16.8881 5.99435 16.5977 5.07113 16.082V16.1641C5.07113 19.4024 7.3602 22.086 10.411 22.7031C9.83816 22.8519 9.24889 22.928 8.65707 22.9297C8.22348 22.9297 7.81332 22.8867 7.39926 22.8281C8.24301 25.4688 10.7 27.3867 13.6258 27.4492C11.3368 29.2422 8.46957 30.2969 5.35629 30.2969C4.7977 30.2969 4.28207 30.2774 3.74691 30.2149C6.70004 32.1094 10.2039 33.2031 13.9774 33.2031C26.2274 33.2031 32.9305 23.0547 32.9305 14.2461C32.9305 13.957 32.9305 13.668 32.911 13.3789C34.2078 12.4297 35.3446 11.2539 36.2508 9.93361Z" fill="white"/>
                  </svg>
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.3759 4.375H5.62585C4.93444 4.375 4.37585 4.93359 4.37585 5.625V34.375C4.37585 35.0664 4.93444 35.625 5.62585 35.625H34.3759C35.0673 35.625 35.6259 35.0664 35.6259 34.375V5.625C35.6259 4.93359 35.0673 4.375 34.3759 4.375ZM30.7665 13.4961H28.2704C26.3133 13.4961 25.9344 14.4258 25.9344 15.793V18.8047H30.6063L29.9969 23.5195H25.9344V35.625H21.0633V23.5234H16.9891V18.8047H21.0633V15.3281C21.0633 11.293 23.5282 9.09375 27.1298 9.09375C28.8563 9.09375 30.3368 9.22266 30.7704 9.28125V13.4961H30.7665Z" fill="white"/>
                  </svg>
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.377 4.375H5.627C4.93559 4.375 4.377 4.93359 4.377 5.625V34.375C4.377 35.0664 4.93559 35.625 5.627 35.625H34.377C35.0684 35.625 35.627 35.0664 35.627 34.375V5.625C35.627 4.93359 35.0684 4.375 34.377 4.375ZM13.6465 31.0039H9.00981V16.0898H13.6465V31.0039ZM11.3301 14.0508C10.7986 14.0508 10.279 13.8932 9.83703 13.5979C9.39507 13.3025 9.05061 12.8828 8.8472 12.3917C8.64379 11.9007 8.59057 11.3603 8.69426 10.839C8.79796 10.3177 9.05392 9.83879 9.42977 9.46293C9.80563 9.08708 10.2845 8.83112 10.8058 8.72742C11.3271 8.62372 11.8675 8.67694 12.3586 8.88035C12.8497 9.08377 13.2694 9.42823 13.5647 9.87019C13.86 10.3121 14.0176 10.8317 14.0176 11.3633C14.0137 12.8477 12.8106 14.0508 11.3301 14.0508ZM31.0059 31.0039H26.3731V23.75C26.3731 22.0195 26.3418 19.7969 23.9629 19.7969C21.5528 19.7969 21.1817 21.6797 21.1817 23.625V31.0039H16.5528V16.0898H20.9981V18.1289H21.0606C21.6778 16.957 23.1895 15.7188 25.4473 15.7188C30.1426 15.7188 31.0059 18.8086 31.0059 22.8242V31.0039Z" fill="white"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 px-0">
            <div class="block-right-content">
              <div class="address">
                <div class="address__title"><span>{{$t('address')}}</span></div>
                <div class="d-flex align-items-start address__detail">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.3666 14.0834C32.6166 6.38335 25.9 2.91669 20 2.91669C20 2.91669 20 2.91669 19.9833 2.91669C14.1 2.91669 7.36664 6.36669 5.61664 14.0667C3.66664 22.6667 8.93331 29.95 13.7 34.5333C15.4666 36.2333 17.7333 37.0834 20 37.0834C22.2666 37.0834 24.5333 36.2333 26.2833 34.5333C31.05 29.95 36.3166 22.6834 34.3666 14.0834ZM20 22.4334C17.1 22.4334 14.75 20.0834 14.75 17.1834C14.75 14.2834 17.1 11.9334 20 11.9334C22.9 11.9334 25.25 14.2834 25.25 17.1834C25.25 20.0834 22.9 22.4334 20 22.4334Z" fill="white"/>
                  </svg>
                  <div class="flex-1 ms-2">
                    <div class="address__detail--label"><span>Valletta Buildings, South Street, Valletta - VLT 1103 Malta, US</span></div>
                    <div class="address__detail--label more"><span>{{$t('address_detail')}}</span></div>
                  </div>
                </div>
                <div class="d-flex align-items-center address__detail">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M27.0667 3.33331H12.9334C8.33335 3.33331 6.66669 4.99998 6.66669 9.68331V30.3166C6.66669 35 8.33335 36.6666 12.9334 36.6666H27.05C31.6667 36.6666 33.3334 35 33.3334 30.3166V9.68331C33.3334 4.99998 31.6667 3.33331 27.0667 3.33331ZM20 32.1666C18.4 32.1666 17.0834 30.85 17.0834 29.25C17.0834 27.65 18.4 26.3333 20 26.3333C21.6 26.3333 22.9167 27.65 22.9167 29.25C22.9167 30.85 21.6 32.1666 20 32.1666ZM23.3334 10.4166H16.6667C15.9834 10.4166 15.4167 9.84998 15.4167 9.16665C15.4167 8.48331 15.9834 7.91665 16.6667 7.91665H23.3334C24.0167 7.91665 24.5834 8.48331 24.5834 9.16665C24.5834 9.84998 24.0167 10.4166 23.3334 10.4166Z" fill="white"/>
                  </svg>
                  <div class="flex-1 ms-2">
                    <div class="address__detail--label">
                      <span>(+1) 555-0108-000</span>
                      <span>or</span>
                      <span>(+236) 555-0108</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="subcribe">
                <div class="subcribe__title"><span>{{$t('subscribe')}}</span></div>
                <div class="subcribe__detail"><span class="subcribe__detail--label">{{$t('subscribe_desc')}}</span></div>
                <div class="block-send-info">
                  <input type="text" :placeholder="$t('enter_your_email')">
                  <div class="d-flex align-items-center" role="button">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.43 18.8201C14.24 18.8201 14.05 18.7501 13.9 18.6001C13.61 18.3101 13.61 17.8301 13.9 17.5401L19.44 12.0001L13.9 6.46012C13.61 6.17012 13.61 5.69012 13.9 5.40012C14.19 5.11012 14.67 5.11012 14.96 5.40012L21.03 11.4701C21.32 11.7601 21.32 12.2401 21.03 12.5301L14.96 18.6001C14.81 18.7501 14.62 18.8201 14.43 18.8201Z" fill="white"/>
                      <path d="M20.33 12.75H3.5C3.09 12.75 2.75 12.41 2.75 12C2.75 11.59 3.09 11.25 3.5 11.25H20.33C20.74 11.25 21.08 11.59 21.08 12C21.08 12.41 20.74 12.75 20.33 12.75Z" fill="white"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright">
      <span>2017 Copyright. Policy.</span>
    </div>
  </section>
</template>
<script lang="ts">
import {Component, Vue} from 'nuxt-property-decorator'

@Component
export default class FooterBase extends Vue {
}
</script>

<style lang="scss" scoped>
footer {
  background: url('~/assets/img/bg-footer.png') no-repeat;
  background-size: cover;
  padding-top: 104px;
  padding-bottom: 100px;
  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 62px;
  }
  .social {
    margin-top: 40px;
  }
  .block-right-content {
    display: flex;
    @media (max-width: 768px) {
      display: block;
      margin: 0 1rem;
    }
  }
  .address, .subcribe {
    max-width: 410px;
    max-height: 242px;
    margin-right: 40px;
    @media (max-width: 768px) {
      margin-top: 68px;
      margin-right: 0;
    }
    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #FFFFFF;
    }
    &__detail {
      margin-top: 40px;
      @media (max-width: 768px) {
        margin-top: 20px;
      }
      &--label {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
      }
      .more {
        margin-top: 12px;
      }
    }
  }
  .subcribe {
    max-width: 410px; 
    max-height: 178px;
    .block-send-info {
      display: flex;
      padding: 0 14px;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 8px;
      width: 100%;
      height: 56px;
      margin-top: 12px;
      @media (max-width: 768px) {
        margin-top: 17.1px;
      }
      input {
        width: 100%;
        height: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        background: transparent;
        outline: 0;
        border: none;
        &::placeholder {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #FFFFFF;
        }
      }
    }
  }
}
.copyright {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  @media (max-width: 768px) {
    height: 86px;
  }
}
.logo {
  @media (max-width: 768px) {
    text-align: center;
  }
}
</style>
