<template>
  <div class="block-grid d-flex justify-content-center">
    <div class="block-grid__col" v-for="col in 4" :key="col">
      <div class="block-grid__col--card" role="button" v-for="item in 3" :key="item">
        <img :src="require(`~/assets/img/Card-games-col${col}-${item}.png`)" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import {Component, Vue} from 'nuxt-property-decorator'

@Component
export default class GridCardGame extends Vue{
}
</script>

<style lang="scss" scoped>
.block-grid {
  &__col {
    position: relative;
    &:nth-child(even) {
      // transform: translateY(5%);
      // top: 56px;
      margin-top: 140px;
    }
    &--card {
      transition: .2s;
      &:hover {
        transform: scale(1.01);
      }
    }
  }
}
</style>