<template>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar-nav_custom">
      <div class="d-flex justify-content-between block-top">
        <li class="nav-item dropdown dropdown-custom">
          <a class="nav-link dropdown-toggle dropdown-toggle_custom" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img :src="flagLocale" alt="">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <nuxt-link class="dropdown-item"  :to="localePath('/','vi')" 
                @click.native.prevent="closeMenu">
                <svg :class="{'active': $i18n.locale === 'vi'}" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.7698 5.29384C21.3781 4.90205 20.7429 4.90205 20.3511 5.29384L8.33237 17.3127L3.71256 12.6929C3.32081 12.3011 2.68567 12.3011 2.29384 12.6929C1.90205 13.0846 1.90205 13.7198 2.29384 14.1116L7.62301 19.4407C8.01464 19.8324 8.65025 19.8321 9.04173 19.4407L21.7698 6.71256C22.1616 6.32081 22.1616 5.68563 21.7698 5.29384Z" fill="black"/>
                </svg>
                <img src="~/assets/img/flag-vi.png" alt="" />
                <span>{{$t('locale_vi')}}</span>  
              </nuxt-link>
            </li>
            <li><hr class="dropdown-divider m-0"></li>
            <li>
              <nuxt-link class="dropdown-item" :to="localePath('/','en')" 
                @click.native.prevent="closeMenu">
                <svg :class="{'active': $i18n.locale === 'en'}" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.7698 5.29384C21.3781 4.90205 20.7429 4.90205 20.3511 5.29384L8.33237 17.3127L3.71256 12.6929C3.32081 12.3011 2.68567 12.3011 2.29384 12.6929C1.90205 13.0846 1.90205 13.7198 2.29384 14.1116L7.62301 19.4407C8.01464 19.8324 8.65025 19.8321 9.04173 19.4407L21.7698 6.71256C22.1616 6.32081 22.1616 5.68563 21.7698 5.29384Z" fill="black"/>
                </svg>
                <img src="~/assets/img/flag-us.png" alt="" />
                <span>{{$t('locale_en')}}</span>
              </nuxt-link>
            </li>
          </ul>
        </li>
        <div class="d-flex" role="button" @click="$emit('close-menu')">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.7484 20.0002L34.4298 8.31823C35.1901 7.55836 35.1901 6.32976 34.4298 5.5699C33.67 4.81003 32.4414 4.81003 31.6816 5.5699L19.9998 17.2519L8.31842 5.5699C7.55822 4.81003 6.33 4.81003 5.57015 5.5699C4.80995 6.32976 4.80995 7.55836 5.57015 8.31823L17.2516 20.0002L5.57015 31.6822C4.80995 32.4421 4.80995 33.6707 5.57015 34.4305C5.94883 34.8096 6.44674 35 6.94429 35C7.44184 35 7.93939 34.8096 8.31842 34.4305L19.9998 22.7486L31.6816 34.4305C32.0606 34.8096 32.5582 35 33.0557 35C33.5533 35 34.0508 34.8096 34.4298 34.4305C35.1901 33.6707 35.1901 32.4421 34.4298 31.6822L22.7484 20.0002Z" fill="black"/>
          </svg>
        </div>
      </div>
      <li class="nav-item nav-item-custom">
        <a class="nav-link" href="#about_us" @click="$emit('close-menu')">{{$t('about_us.title')}}</a>
      </li>
      <li><hr class="dropdown-divider my-4"></li>
      <li class="nav-item nav-item-custom">
        <a class="nav-link" href="#games" @click="$emit('close-menu')">{{$t('games')}}</a>
      </li>
      <li><hr class="dropdown-divider my-4"></li>
      <li class="nav-item nav-item-custom">
        <a class="nav-link" href="#partners" @click="$emit('close-menu')">{{$t('partners')}}</a>
      </li>
      <li><hr class="dropdown-divider my-4"></li>
      <li class="nav-item nav-item-custom">
        <a class="nav-link nav-item-custom" href="#contact_us" @click="$emit('close-menu')">{{$t('contact_us')}}</a>
      </li>
    </ul>
  </div>
</template>
<script lang="ts">
import {Component, Vue} from 'nuxt-property-decorator'

@Component
export default class MenuMobile extends Vue {
  get flagLocale() {
    if (this.$i18n.locale === 'vi') {
      return require('~/assets/img/flag-vi.png');
    }
    return require('~/assets/img/flag-us.png');
  }
  closeMenu() {
    const body = document.getElementsByTagName('body')?.[0];
    const isExisst = body?.classList?.contains('overflow-hidden');
    isExisst && body?.classList?.remove('overflow-hidden');
  }
}
</script>

<style lang="scss" scoped>
#navbarSupportedContent {
  position: fixed;
  top: 0;
  left: 0;
  background: #FFFFFF;
  width: 100%;
  min-height: 100vh;
  z-index: 999;
  padding: 1rem;
}
.navbar-nav_custom {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) 
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.dropdown-custom {
  #navbarDropdown {
    width: 80px;
    height: 40px;
    padding: 0;
    background: #F6F6F6;
    border: 1px solid #AFAFAF;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0 12px;
    &::after {
      border-top: 5px solid;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      vertical-align: 0.1em;
    }
  }
  .dropdown-menu {
    min-width: 156px;
    right: 0;
    left: auto;
    padding: 0;
    // border: none;
    border-radius: .5rem;
    .dropdown-item {
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 17px;
      color: #000000;
      padding: 0 8px;
      &:hover {
        background-color: transparent;
      }
      img {
        margin-left: 11.33px;
      }
      svg {
        path {
          fill-opacity: 0;
        }
        &.active {
          path {
            fill-opacity: 1;
          }
        } 
      }
    }
  }
}
.block-top {
  margin-bottom: 40px;
}
.nav-item-custom {
  text-align: center;
  .nav-link {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
  }
}
.dropdown-divider {
  margin: 1.5rem 0;
  border-color: #EEEEEE;
}
// .navbar-collapse {
//   &.show {
//     height: 100vh;
//     z-index: 999;
//   }
// }
</style>