<template>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar-nav_custom">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#about_us">{{$t('about_us.title')}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#games">{{$t('games')}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#partners">{{$t('partners')}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact_us">{{$t('contact_us')}}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle dropdown-toggle_custom" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img :src="flagLocale" alt="">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <nuxt-link class="dropdown-item"  :to="localePath('/','vi')" @click.prevent>
              <svg :class="{'active': $i18n.locale === 'vi'}" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.7698 5.29384C21.3781 4.90205 20.7429 4.90205 20.3511 5.29384L8.33237 17.3127L3.71256 12.6929C3.32081 12.3011 2.68567 12.3011 2.29384 12.6929C1.90205 13.0846 1.90205 13.7198 2.29384 14.1116L7.62301 19.4407C8.01464 19.8324 8.65025 19.8321 9.04173 19.4407L21.7698 6.71256C22.1616 6.32081 22.1616 5.68563 21.7698 5.29384Z" fill="black"/>
              </svg>
              <img src="~/assets/img/flag-vi.png" alt="" />
              <span>{{$t('locale_vi')}}</span>  
            </nuxt-link>
          </li>
          <li><hr class="dropdown-divider m-0"></li>
          <li>
            <nuxt-link class="dropdown-item" :to="localePath('/','en')" @click.prevent>
              <svg :class="{'active': $i18n.locale === 'en'}" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.7698 5.29384C21.3781 4.90205 20.7429 4.90205 20.3511 5.29384L8.33237 17.3127L3.71256 12.6929C3.32081 12.3011 2.68567 12.3011 2.29384 12.6929C1.90205 13.0846 1.90205 13.7198 2.29384 14.1116L7.62301 19.4407C8.01464 19.8324 8.65025 19.8321 9.04173 19.4407L21.7698 6.71256C22.1616 6.32081 22.1616 5.68563 21.7698 5.29384Z" fill="black"/>
              </svg>
              <img src="~/assets/img/flag-us.png" alt="" />
              <span>{{$t('locale_en')}}</span>
            </nuxt-link>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>
<script lang="ts">
import {Component, Vue} from 'nuxt-property-decorator'

@Component
export default class MenuNavBar extends Vue {
  get flagLocale() {
    if (this.$i18n.locale === 'vi') {
      return require('~/assets/img/flag-vi.png');
    }
    return require('~/assets/img/flag-us.png');
  }
}
</script>
<style lang="scss" scoped>
.navbar-nav_custom {
  width: 710px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  .nav-item {
    margin: auto 0;
    .nav-link {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      text-transform: uppercase;
      padding: 0;
    }
  }
  .dropdown {
    .dropdown-toggle_custom {
      &::after {
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
      }
    }
    .dropdown-menu {
      min-width: 156px;
      right: 0;
      left: auto;
      padding: 0;
      border: none;
      border-radius: .5rem;
      .dropdown-item {
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 17px;
        color: #000000;
        padding: 0 8px;
        &:hover {
          background-color: transparent;
        }
        img {
          margin-left: 11.33px;
        }
        svg {
          path {
            fill-opacity: 0;
          }
          &.active {
            path {
              fill-opacity: 1;
            }
          } 
        }
      }
    }
  }
}
</style>