<template>
  <nav class="navbar navbar-expand-lg navbar-light" id="my-navbar">
    <div class="container-fluid px-0">
      <nuxt-link :to="localePath('/')" class="logo">
        <img src="/logo.png" alt="" class="img-fluid">
      </nuxt-link>
      <button class="navbar-toggler button-custom" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation" id="btn_custom" @click.stop="onToggle">
        <span>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M35 12.9165H5C4.31667 12.9165 3.75 12.3498 3.75 11.6665C3.75 10.9832 4.31667 10.4165 5 10.4165H35C35.6833 10.4165 36.25 10.9832 36.25 11.6665C36.25 12.3498 35.6833 12.9165 35 12.9165Z" fill="white"/>
            <path d="M35 21.25H5C4.31667 21.25 3.75 20.6833 3.75 20C3.75 19.3167 4.31667 18.75 5 18.75H35C35.6833 18.75 36.25 19.3167 36.25 20C36.25 20.6833 35.6833 21.25 35 21.25Z" fill="white"/>
            <path d="M35 29.5835H5C4.31667 29.5835 3.75 29.0168 3.75 28.3335C3.75 27.6502 4.31667 27.0835 5 27.0835H35C35.6833 27.0835 36.25 27.6502 36.25 28.3335C36.25 29.0168 35.6833 29.5835 35 29.5835Z" fill="white"/>
          </svg>
        </span>
      </button>
      <client-only>
        <component :is="$device.isMobile ? 'menu-mobile': 'menu-nav-bar'" @close-menu="onClose">
        </component>
      </client-only>
    </div>
  </nav>
</template>

<script lang="ts">
import {Component, Vue} from 'nuxt-property-decorator'

@Component
export default class NavBar extends Vue{
  get flagLocale() {
    if (this.$i18n.locale === 'vi') {
      return require('~/assets/img/flag-vi.png');
    }
    return require('~/assets/img/flag-us.png');
  }
  onClose() {
    const buttonToggle = this.$el.querySelector('#btn_custom[aria-expanded="true"]');
    if (buttonToggle) {
      (buttonToggle as any).click();
    }
  }
  onToggle(e: Event) {
   const buttonToggle = this.$el.querySelector('#btn_custom[aria-expanded="true"]');
    if (buttonToggle) {
      document.getElementsByTagName('body')?.[0]?.classList?.add('overflow-hidden');
    } else {
      document.getElementsByTagName('body')?.[0]?.classList?.remove('overflow-hidden');
    }
  }
}
</script>

<style lang="scss" scoped>
#my-navbar {
  width: 100%;
  height: $height-navbar;
  // background: url('../assets/img/bg_header.png') no-repeat;
  // background: transparent;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) -25%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  padding: 20px 80px 20px 79px;
  @media (max-width: 768px) {
    height: auto;
    padding: 1.5rem 1rem;
    .logo {
      img {
        height: 40px;
      }
    }
  }
  .navbar-nav_custom {
    width: 710px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    .nav-item {
      margin: auto 0;
      .nav-link {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 0;
      }
    }
    .dropdown {
      .dropdown-toggle_custom {
        &::after {
          border-top: 5px solid;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
        }
      }
      .dropdown-menu {
        min-width: 156px;
        right: 0;
        left: auto;
        padding: 0;
        border: none;
        border-radius: .5rem;
        .dropdown-item {
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 17px;
          color: #000000;
          padding: 0 8px;
          &:hover {
            background-color: transparent;
          }
          img {
            margin-left: 11.33px;
          }
          svg {
            path {
              fill-opacity: 0;
            }
            &.active {
              path {
                fill-opacity: 1;
              }
            } 
          }
        }
      }
    }
  }
  .button-custom {
    border: none;
    padding: 0;
  }
}
</style>