<template>
<div>
  <header>
    <navBar />
    <div id="header" class="d-flex">
      <div class="block-content m-auto">
        <div class="block-content__title">
          <span>{{$t('getting_ready')}}</span>
        </div>
        <div class="block-content__count-down m-auto">
          <div class="d-flex justify-content-between"
            :class="{'align-items-end': $device.isMobile}">
            <div class="d-block">
              <div class="block-content__count-down--number">
                <span>30</span>
              </div>
              <div class="block-content__count-down--time">
                <span>{{$t('days')}}</span>
              </div>
            </div>
            <div class="block-content__count-down--dots-mark">
              <span>:</span>
            </div>
            <div class="d-block">
              <div class="block-content__count-down--number">
                <span>18</span>
              </div>
              <div class="block-content__count-down--time">
                <span>{{$t('hours')}}</span>
              </div>
            </div>
            <div class="block-content__count-down--dots-mark">
              <span>:</span>
            </div>
            <div class="d-block">
              <div class="block-content__count-down--number">
                <span>20</span>
              </div>
              <div class="block-content__count-down--time">
                <span>{{$t('minutes')}}</span>
              </div>
            </div>
            <div class="block-content__count-down--dots-mark">
              <span>:</span>
            </div>
            <div class="d-block">
              <div class="block-content__count-down--number">
                <span>11</span>
              </div>
              <div class="block-content__count-down--time">
                <span>{{$t('second')}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="block-content__introduction_game mx-auto">
          <span>{{$t('introduction_game')}}</span>
        </div>
        <div class="block-content__contact-email mx-auto">
          <div class="d-flex justify-content-center h-100">
            <input type="text" class="flex-1" :placeholder="$t('enter_your_email')">
            <div class="d-flex align-items-center pe-auto" role="button">
              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.93 18.8201C14.74 18.8201 14.55 18.7501 14.4 18.6001C14.11 18.3101 14.11 17.8301 14.4 17.5401L19.94 12.0001L14.4 6.46012C14.11 6.17012 14.11 5.69012 14.4 5.40012C14.69 5.11012 15.17 5.11012 15.46 5.40012L21.53 11.4701C21.82 11.7601 21.82 12.2401 21.53 12.5301L15.46 18.6001C15.31 18.7501 15.12 18.8201 14.93 18.8201Z" fill="black"/>
                <path d="M20.83 12.75H4C3.59 12.75 3.25 12.41 3.25 12C3.25 11.59 3.59 11.25 4 11.25H20.83C21.24 11.25 21.58 11.59 21.58 12C21.58 12.41 21.24 12.75 20.83 12.75Z" fill="black"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg_header_before_mobile">
      <img src="~assets/img/bg_header_before_mobile.png" alt="">
    </div>
  </header>
  <section id="about_us">
    <div class="container px-0">
      <div class="row mx-0">
        <div class="col-md-6 px-0 block-width">
          <div class="about_us__title">
            <span>{{$t('about_us.title')}}</span>
          </div>
          <div class="about_us__desc">
            <span>{{$t('about_us.description')}}</span>
          </div>
          <div class="row block_info" :class="$device.isMobile ? 'mx-3' :' mx-0'">
            <div class="col-md-12 col-6 px-0">
              <div class="about_us__user_number">
                <span>600<small>{{$t('million')}}</small>+</span>
              </div>
              <div class="about_us__user_name">
                <span>{{$t('about_us.users')}}</span>
              </div>
            </div>
            <div class="col-md-12 col-6 px-0 margin_top" :class="{'ps-3': $device.isMobile}">
              <div class="about_us__user_number">
                <span>135+</span>
              </div>
              <div class="about_us__user_name">
                <span>{{$t('games')}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 px-0 block-width" :class="{'mx-0': $device.isMobile}">
          <div class="w-100 h-100 about_us__block-right">
            <div class="d-flex align-items-start margin_top_40" 
              v-for="(about, idx) in aboutUsDescription" :key="idx">
              <img :src="about.icon" alt="" class="img-fluid img_icon">
              <div class="flex-1 about_us__block-content">
                <div class="about_us__block-content--title">
                  <span>{{about.title}}</span>
                </div>
                <div class="about_us__block-content--desc"><span>{{about.desc}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about_us__bg text-center">
        <img src="~assets/img/img-about-us-witch.png" alt="" class="img-fluid">
        <img src="~assets/img/img-about-us-map.png" alt="" class="img-fluid">
      </div>
    </div>
  </section>
  <section id="games">
    <div class="container-fluid px-0">
      <div class="our-game">
        <div class="our-game__block mx-auto">
          <div class="our-game__block--title"><span>{{$t('our_games.title')}}</span></div>
          <div class="our-game__block--desc"><span>{{$t('our_games.description')}}</span></div>
        </div>
        <div class="our-game__wrapper-card">
          <component :is="$device.isMobile ? 'grid-card-game-mobile': 'grid-card-game'"></component>
        </div>
      </div>
    </div>
  </section>
  <section id="partners">
    <div class="container px-0">
      <div class="our-partner">
        <div class="our-partner__title"><span>{{$t('our_partners')}}</span></div>
        <div class="our-partner__block">
          <client-only>
            <carousel :paginationEnabled="false" :controls="true" :navigationEnabled='true' 
              :loop="false" :perPage='perPageSlide' :navigationPrevLabel="iconBack" :navigationNextLabel="iconNext">
              <slide v-for="item in 7" :key="item">
                <!-- <company-hot-item  :company="company" class="col-12 col-md-3"
                  :index="idx + 1"/> -->
                  <img :src="require(`~/assets/img/our-partner-${item}.png`)" alt="">
              </slide>
            </carousel>
          </client-only>
        </div>
      </div>
    </div>
  </section>
  <footer-base />
    <div class="button-scroll" id="detect-scroll" role="button">
      <img src="~assets/icons/icon-detect-scroll.svg" alt="" class="img-fluid">
    </div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component({
  scrollToTop: true
})
export default class index extends Vue {
  iconNext = `<svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d)">
      <path d="M33.9834 6.33337H20.0167C13.95 6.33337 10.3334 9.95004 10.3334 16.0167V29.9667C10.3334 36.05 13.95 39.6667 20.0167 39.6667H33.9667C40.0334 39.6667 43.65 36.05 43.65 29.9834V16.0167C43.6667 9.95004 40.05 6.33337 33.9834 6.33337ZM31.65 23.8834L25.7667 29.7667C25.5167 30.0167 25.2 30.1334 24.8834 30.1334C24.5667 30.1334 24.25 30.0167 24 29.7667C23.5167 29.2834 23.5167 28.4834 24 28L29 23L24 18C23.5167 17.5167 23.5167 16.7167 24 16.2334C24.4834 15.75 25.2834 15.75 25.7667 16.2334L31.65 22.1167C32.15 22.6 32.15 23.4 31.65 23.8834Z" fill="white"/>
      </g>
      <defs>
      <filter id="filter0_d" x="-3" y="-3" width="60" height="60" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="4"/>
      <feGaussianBlur stdDeviation="5"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
      </filter>
      </defs>
      </svg>`;
  iconBack = `<svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d)">
    <path d="M33.9833 6.33337H20.0167C13.95 6.33337 10.3333 9.95004 10.3333 16.0167V29.9667C10.3333 36.05 13.95 39.6667 20.0167 39.6667H33.9667C40.0333 39.6667 43.65 36.05 43.65 29.9834V16.0167C43.6667 9.95004 40.05 6.33337 33.9833 6.33337ZM29.9833 28C30.4667 28.4834 30.4667 29.2834 29.9833 29.7667C29.7333 30.0167 29.4167 30.1334 29.1 30.1334C28.7833 30.1334 28.4667 30.0167 28.2167 29.7667L22.3333 23.8834C21.85 23.4 21.85 22.6 22.3333 22.1167L28.2167 16.2334C28.7 15.75 29.5 15.75 29.9833 16.2334C30.4667 16.7167 30.4667 17.5167 29.9833 18L24.9833 23L29.9833 28Z" fill="white"/>
    </g>
    <defs>
    <filter id="filter0_d" x="-3" y="-3" width="60" height="60" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="5"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
    </filter>
    </defs>
    </svg>`;
  get aboutUsDescription() {
    return [{icon: require('~/assets/icons/icon-24-hour.svg'), title: this.$t('about_us.24_hour_title'), desc: this.$t('about_us.24_hour_desc')},
    {icon: require('~/assets/icons/icon-design.svg'), title: this.$t('about_us.design_title'), desc: this.$t('about_us.design_desc')},
    {icon: require('~/assets/icons/icon-team.svg'), title: this.$t('about_us.team_title'), desc: this.$t('about_us.team_desc')}]
  }

  lastScrollTop = 0

  mounted() {
    window.addEventListener('scroll', (e) => {
      var st = window.pageYOffset || document.documentElement.scrollTop;
      this.$el.querySelector('#detect-scroll')?.classList?.add('show');
      if (st === 0) {
        this.$el.querySelector('#detect-scroll')?.classList?.remove('show');
      }
      if (st > this.lastScrollTop) {
          this.$el.querySelector('#detect-scroll')?.classList?.add('up');
      }
      this.lastScrollTop = st <= 0 ? 0 : st;
      this.$el.querySelector('#detect-scroll')?.addEventListener('click', (e) => {
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
      });
    });
  }
  get perPageSlide() {
    return this.$device.isMobile ? 1.5 : 5;
  }
}
</script>
<style lang="scss" scoped>
header {
  width: 100%;
  height: 1018px;
  background: url('~assets/img/bg_header.png') no-repeat;
  background-size: cover;
  // background-position-y: -$height-navbar;
  background-position: top center;
  position: relative;
  backdrop-filter: blur(10px);
  padding: env(safe-area-inset-top) env(safe-area-inset-right) 
    env(safe-area-inset-bottom) env(safe-area-inset-left);

  @media (max-width: 768px) {
    height: 608px;
    background: url('~assets/img/bg_header_mobile.png') no-repeat;
    background-size: cover;
    background-position: top center;
  }
  @media (min-width: 376px) and (max-width: 414px) {
    height: 100%;
    background: url('~assets/img/bg_header_mobile.png') no-repeat;
    background-size: cover;
    background-position: top center;
  }
  // &.mobile {
  //   background: url('~assets/img/bg_header_mobile.png') no-repeat;
  //   background-size: cover;
  //   background-position: top center;
  //   height: 608px;
  // }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: radial-gradient(27.72% 27.79% at 50.81% 68.15%, #210544 0%, rgba(23, 5, 68, 0.71) 50.52%, rgba(23, 5, 68, 0) 100%);
    z-index: -1;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 85px;
    left: 0;
    bottom: 0;
    background: url('~assets/img/bg_header_before.png') no-repeat;
    background-position: top left;
    z-index: -1;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.bg_header_before_mobile {
  display: none;
  position: relative;
  @media (max-width: 768px) {
    display: block;
    top: 35px;
  }
  @media (min-width: 376px) and (max-width: 414px) {
    display: block;
    top: 180px;
  }
}
#header {
  .block-content {
    padding-top: 132px;
    @media (max-width: 768px) {
      padding-top: 1.5rem;
    }
    &__title {
      font-family: $font-playfair-display;
      font-style: normal;
      font-weight: 900;
      font-size: 80px;
      line-height: 120px;
      text-align: center;
      letter-spacing: 0.6px;
      color: #FFFFFF;
      margin-bottom: 21px;
      @media (max-width: 768px) {
        width: 343px;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 38px;
      }
    }
    &__count-down {
      max-width: 756px;
      padding: 26.07px 39.1px 26px 39.1px;
      background: #FFFFFF;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 21px;
      @media (max-width: 768px) {
        width: 343px;
      }
      &--number {
        width: 79.51px;
        height: 79.51px;
        font-family: $font-playfair-display;
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 64px;
        text-align: center;
        letter-spacing: 4.8px;
        color: #000000;
        @media (max-width: 768px) {
          width: 54px;
          height: 46px;
          font-size: 36px;
          line-height: 45px;
        }
      }
      &--time {
        font-style: normal;
        font-weight: bold;
        font-size: 15.6414px;
        line-height: 19px;
        text-align: center;
        letter-spacing: -0.651724px;
        color: #000000;
        @media (max-width: 768px) {
          font-size: 12px;
          line-height: 15px;
        }
      }
      &--dots-mark {
        font-style: normal;
        font-weight: normal;
        font-size: 65.1724px;
        line-height: 79px;
        text-align: center;
        letter-spacing: -0.651724px;
        color: #000000;
        @media (max-width: 768px) {
          font-size: 40px;
          line-height: 35px;
        }
      }
    }
    &__introduction_game {
      max-width: 560px;
      margin-top: 97.1px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 126%;
      text-align: center;
      color: #FFFFFF;
      @media (max-width: 768px) {
        width: 343px;
        font-size: 12px;
        line-height: 15px;
        margin-top: 40px;
      }
    }
    &__contact-email {
      height: 100%;
      align-items: center;
      max-width: 560px;
      height: 56px;
      background: #FFFFFF;
      border-radius: 8px;
      padding: 0 14px;
      margin-top: 32px;
      @media (max-width: 768px) {
        width: 343px;
        margin-top: 16px;
      }
      input {
        width: 100%;
        height: 100%;
        outline: 0;
        border: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #545454;
      }
    }
  }
}
.about_us {
  &__title {
    font-family: $font-playfair-display;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 3.6px;
    color: #000000;
    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 50px;
      margin: 0 1rem;
    }
  }
  &__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #757575;
    margin-top: 40px;
    @media (max-width: 768px) {
      margin: 0 1rem;
      margin-top: 1rem;
    }
  }
  &__user_number {
    max-height: 98px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: -1px;
    color: #079BEE;
    small {
      font-size: 55%;
    @media (max-width: 768px) {
      line-height: 24px;
    }
    }
    @media (max-width: 768px) {
      font-size: 44px;
      line-height: 54px;
    }
  }
  &__user_name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
  &__block-right {
    background: #EEEEEE;
    padding: 113px 75px;
    margin-left: 40px;
    @media (max-width: 768px) {
      margin-left: 0;
      padding: 40px 16px;
      margin-top: 39.5px;
      .img_icon {
        width: 40px;
        height: 40px;
      }
    }
  }
  &__block-content {
    margin-left: 1.5rem;
    @media (max-width: 768px) {
      margin-left: 20px;
    }
    &--title {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
    }
    &--desc {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #757575;
      margin-top: 8.08px;
    }
  }
  &__bg {
    max-height: 764px;
    margin-top: 68px;
    @media (max-width: 768px) {
      margin-top: 100px;
    }
    img {
      position: relative;
      z-index: 2;
      &:first-child {
        animation: switch-fly 10s infinite;
        transition: .2s;
      }
      &:last-child {
        top: -101px;
        @media (max-width: 768px) {
          top: -23px;
        }
        z-index: 1;
      }
    }
  }
}
#about_us {
  padding: 128px 0;
  @media (max-width: 768px) {
    padding: 256px 0;
    padding-bottom: 47.73px;
  }
  .block_info {
    margin-top: 79.29px;
    @media (max-width: 768px) {
      margin-top: 40px;
      align-items: center;
    }
  }
  .margin_top {
    margin-top: 39px;
    @media (max-width: 768px) {
      margin-top: 0;
    }
  }
  .margin_top_40 {
    margin-top: 40px;
    &:first-child {
      margin-top: 0;
    }
  }
  .block-width {
    width: 560px;
    max-height: 620px;
  }
}
.our-game {
  padding-bottom: 110px;
  @media (max-width: 768px) {
    padding-bottom: 48px;
  }
  &__block {
    max-width: 860px;
    &--title {
      font-family: $font-playfair-display;
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      line-height: 60px;
      text-align: center;
      margin-bottom: 24.46px;
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 50px;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 16.05px;
      }
    }
    &--desc {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: #757575;
      text-align: center;
      @media (max-width: 768px) {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
  &__wrapper-card {
    margin-top: 60px;
    @media (max-width: 768px) {
      margin-top: 19.41px;
    }
  }
}
#partners {
  background: #F6F6F6;
  padding: 120px 0;
  @media (max-width: 768px) {
    padding: 40px 16px;
  }
}
.our-partner {
  &__title {
    font-family: $font-playfair-display;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 3.6px;
    color: #000000;
    letter-spacing: 0.6px;
    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 50px;
    }
  }
  &__block {
    margin-top: 80px;
    @media (max-width: 768px) {
      margin-top: 40px;
    }
  }
}
.button-scroll {
  position: fixed;
  right: 60px;
  bottom: 35px;
  transition: .2s;
  display: none;
  z-index: 999;
  @media (max-width: 768px) {
    right: 22px;
  }
  &.show {
    display: block;
  }
  &.up {
    transform: rotate(180deg);
  }
}
@keyframes switch-fly {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-95px);
  }
  100% {
    transform: translateX(-190px);
  }
}
</style>
